h1 {
    font-size: 65px;
}

.back-image1 {
    background-image: url(../images/cover/cover-1.png);
    height: 100vh;
    color: white;
    font-weight: 800;
    border-radius: 5px;
    background-repeat: no-repeat;
    background-size: cover;
}

.back-image2 {
    background-image: url(../images/cover/cover-2.jpg);
    height: 100vh;
    color: white;
    font-weight: 800;
    border-radius: 5px;
    background-repeat: no-repeat;
}

.back-image3 {
    background-image: url(../images/cover/cover-3.jpg);
    height: 100vh;
    color: white;
    font-weight: 800;
    border-radius: 5px;
    background-repeat: no-repeat;
}

@media only screen and (max-width:481px) {}

/* for mobile device */
@media (min-width:576px) and (max-width: 767px) {
    .resp-flex {
        display: flex;
        flex-direction: column;
    }

}