h1 {
    font-size: 65px;
}

section {
    margin-top: 50px !important;
}

.text-center {
    justify-content: center;
    align-items: center;
    justify-items: center;

}

/* space between course inside */
.spce-between {
    justify-content: space-between;
}

.d-flex {
    gap: 10px;
}

/* Footer style */
.footer {
    margin-top: 5px !important;
}

/* frequntly asked question */

@media only screen and (min-width:992px) {
    .accord-padd {
        padding-left: 250px;
        padding-right: 250px;
        margin-top: 20px;
    }
}

/* for mobile device */
@media only screen and (max-width: 576px) {
    .resp-flex {
        display: flex;
        flex-direction: column;
    }

}